<div class="app-option-menu" id="myTopnav"
  #stickyMenu2
     [class.sticky] = "sticky" >
    <a onclick="myFunction2()"  [routerLink]="['/']">Bienvenidos</a>
    <a onclick="myFunction2()"  [routerLink]="['/']">PracticaAYD2</a>
    <a onclick="myFunction2()"  [routerLink]="['listShoes/Niño/One']">Prueba</a>
    <a onclick="myFunction2()"  [routerLink]="['listShoes/Niña/Two']">VideoPractica</a>
    <a onclick="myFunction2()"  [routerLink]="['listShoes/Dama/tree']">Dama</a>
    <a onclick="myFunction2()"  [routerLink]="['listShoes/Caballero/for']">Caballero</a>
    <a onclick="myFunction2()" routerLink="/cart">Carrito</a>
    <a id="singup" routerLink="/register">SignUp</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
    </a>
</div>



