<br>
<div class="Form">
  <div class="Form-SignUp">
    <form [formGroup]="insertCustomer"  (ngSubmit)="Registrar()">
      <label>Nombre:</label>
      <br>
      <input type="text" name="nombre" id="nombre" value="Nombre">
      <br>
      <label>Correo:</label>
      <br>
      <input type="email" name="email" id="email" value="correo">
      <br>
      <label>Password:</label>
      <br>
      <input type="password" name="password" id="password" value="Password">
      <br>
      <input type="submit" value="Registrar" id="registrarid" name="registrarid">
    </form>
  </div>
</div>
