<br>
<div class="Form" style="text-align: center">
  <h2>Ingreso de Productos</h2>
  <div class="Form-SignUp">
    <form [formGroup]="insertShoe" (ngSubmit)="test(insertShoe.value)">
      <label>Codigo:</label>
      <br>
      <input type="text" formControlName="id" id="codigo">
      <br>
      <label>Nombre:</label>
      <br>
      <input type="text" formControlName="name" id="nombre">
      <br>
      <br>
      <label>Price:</label>
      <br>
      <input type="text" formControlName="price" id="precio" >
      <br>
      <label>Disponibilidad:</label>
      <br>
      <input type="text" formControlName="disponibilidad" id="disponibilidad">
      <br>
      <label>Cantidad:</label>
      <br>
      <input type="text" formControlName="cantidad" id="cantidad">
      <br>
      <label>Descripcion:</label>
      <br>
      <input type="text" formControlName="descripcion" id="descripcion">                  
      <br>
      <input class="button" type="submit" value="Crear" id="crearproducto">
    </form>
  </div>
</div>

